/*----------------
 frist section
 -----------------  */
.frist-container{
    background: rgba(83, 151, 80, 0.153);
}
.frist-container-nav{
    display: flex;
    justify-content: center;
    column-gap: 500px;
}
.frist-container-html{
    font-weight: 700;
}

.frist-container-list{
    list-style: none;
    display: flex;
    column-gap: 45px;
}
.frist-container-second-html{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}
.frist-container-text{
    text-align: center;
    color: #727272;
}
.frist-container-button{
    padding-left: 600px;
    padding-top: 27px;
}
.frist-container-button-text{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
}
.frist-container-imgs{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.frist-container-img{
    width: 950px;
    height: 420px;
    border-radius: 8px;
}
/* ----------------
second section 
------------------ */
.second-container-info{
    padding-top: 85px;
    padding-left: 40px;
}
.second-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.second-container-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.second-container-img{
    border-radius: 8px;
    padding: 7px;
    width: 200px;
    height: 200px;
}
.one{
    color: #727272;
}
.two{
    color: #131313;
}
.three{
    color: #FF900E;
}
.second-container-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.second-container-button-text{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
}
/* ----------------
third section 
------------------ */
.third-container{
    display: flex;
    justify-content: center;
    gap: 85px;
    padding-top: 50px;
}
.third-container-title-all{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.third-container-title-difrant{
    background-color: rgba(135, 207, 235, 0.448);
    width: 487px;
    height: 220px;
    padding: 20px;
    border-radius: 8px;
}
.third-container-text-difrant{
   margin-left: -20px;
   color: #727272;
}
.third-container-title{
    background-color: rgba(135, 207, 235, 0.448);
    width: 450px;
    height: 100px;
    padding: 20px;
    border-radius: 8px;

}
.third-container-html-difrant{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.third-container-text{
    color: #727272;
}
.third-container-html{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.third-container-img{
    width: 550px;
    height: 850px;
}
.third-container-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-container-button-main{
    width: 235px;
    height: 140px;
    border-radius: 8px;
    background-color: #FF900E;
    margin-top: -135px;
    margin-left: 190px;
}
.third-container-button-style{
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: blue;
}
.third-container-button-style-next{
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}
/*------------------- 
forth section
--------------------- */
.forth-container{
    display: flex;
    justify-content: space-evenly; 

}
.forth-container-info{
    border: 2px solid green;
    height: 205px;
    width: 205px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.forth-container-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #727272;
}
.forth-container-img{
    margin-top: 22px;
}
.fortho-container-html{
    font-weight: 700;
    font-size: 34px;
    line-height: 15px;
    color: blue
}
